@font-face {
    font-family: "Poppins";
    src: url("/assets/Poppins-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;

    text-decoration: none;
    color: var(--white);
}

:root{
    --red : #7C0A01;
    --gold : #DAA520;
    --black : #110f0b;
    --white : #D9D9D9;
}

.red{
    color: var(--red);
}

.black{
    color: var(--black);
}

.gold{
    color: var(--gold);
}

.white{
    color: var(--white);
}

h1{
    font-size: 5rem;
    text-shadow: .1rem .1rem .1rem var(--black); 
}

h2{
    font-size: 2.8rem;
    text-shadow: .1rem .1rem .1rem var(--black); 
}

h3{
    font-size: 1.6rem;
    text-shadow: .1rem .1rem .1rem var(--black); 
}

p{
    font-size: 1.2rem;
}

a{
    background-color: var(--gold);
    padding: 0.5rem;
    width: 10rem;
    border-radius: 0.2rem;
    color: var(--black);
    transition: 0.3s;
    text-align: center;
}

a:hover{
    width: 15rem;
    background-color: var(--red);
    color: var(--white);
}

body{
    background-color: var(--black);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}



.page{
    padding: 20px 3rem;
    
    width: 100%;
    min-height:40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* border: solid 1px; */
}


.page .page-text{
    display: flex;
    flex-flow: wrap;
    /* max-width: 55%; */
    flex-direction: column;
    align-content: center;
    gap: 1.8rem;
}
.page .page-image{
    max-width: 40%;
}
.foto-grace{
    width: 100%;
    border-radius: 0.5rem;
}

.page .button-container{
    align-items: center;
    display: flex;
    gap: 1rem;
}

#header{
    
    height: 100vh;
    display: flex;
    align-content: center;
    /* justify-content: center; */
    background:
      60px 60px/calc(2*60px) calc(2*60px) conic-gradient(at calc(500%/6) 50%,#110f0b 25%,#0000 0),0 0/calc(2*60px) calc(2*60px) conic-gradient(at calc(500%/6) 50%,#110f0b 25%,#0000 0),
      60px 60px/calc(2*60px) calc(2*60px) conic-gradient(at calc(200%/3) 50%,#000000 25%,#0000 0),0 0/calc(2*60px) calc(2*60px) conic-gradient(at calc(200%/3) 50%,#000000 25%,#0000 0),
      repeating-conic-gradient(#1c1a17 0 25%,#0000 0 50%) 0 0/calc(2*60px) calc(2*60px),
      linear-gradient(#1c1a17 calc(100%/3),#000000 0 calc(200%/3),#110f0b 0)
       0 0/60px 60px;
}

#halaman-harapan{
    background: linear-gradient(45deg,#0000 calc(25%/3), #110f0b 0 calc(50%/3),
      #0000 0 calc(250%/3), #110f0b 0 calc(275%/3),
      #0000 0),linear-gradient( 45deg,#110f0b calc(25%/3), #0000 0 calc(50%/3),
      #110f0b 0 25%, #0000 0 75%,
      #110f0b 0 calc(250%/3), #0000 0 calc(275%/3),
      #110f0b 0),
      linear-gradient(-45deg,#0000 calc(25%/3), #110f0b 0 calc(50%/3),
      #0000 0 calc(250%/3), #110f0b 0 calc(275%/3),
      #0000 0),linear-gradient(-45deg,#110f0b calc(25%/3), #0000 0 calc(50%/3),
      #110f0b 0 25%, #0000 0 75%,
      #110f0b 0 calc(250%/3), #0000 0 calc(275%/3),
      #110f0b 0)
      #2a2109;
    background-size: 134px 134px;
    background-position: 0 0, 67px  67px;
}

#lokasi{
    background: repeating-conic-gradient(from 45deg, #110f0b 0% 25%, #000000 0% 50%);
    background-size: 67px 67px;
    background-color: #000000;
}

#form{
    background:
      calc( .9*72px) calc( .9*72px)/calc(2*72px) calc(2*72px) conic-gradient(at 20% 20%,#0000 75%,#110f0b 0),
      calc(-.1*72px) calc(-.1*72px)/calc(2*72px) calc(2*72px) conic-gradient(at 20% 20%,#0000 75%,#110f0b 0),
      calc( .7*72px) calc( .7*72px)/calc(2*72px) calc(2*72px) conic-gradient(at 40% 40%,#0000 75%,#231b04 0),
      calc(-.3*72px) calc(-.3*72px)/calc(2*72px) calc(2*72px) conic-gradient(at 40% 40%,#0000 75%,#231b04 0),
      conic-gradient(from 90deg at 20% 20%,#110f0b 25%,#231b04 0) 
       0 0/72px 72px;

}

.location {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.location > * {
    margin: 20px 20px 0 0;
}

.location iframe{
    height: 60vh;
    width: 40vw;
}

/* Form Section */

.messages{
    color: #DAA520;
}

.message{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.message >*{
    margin: 20px 20px 0 0;
}

#form .text-page{
    width: 100%;
}
#username{
    width: 100%;
    margin-bottom: 1vh;
    min-height: 5vh;
    color: var(--black);
    padding-inline: 0.5rem;

    border-radius: 0.5rem;
}
#username::placeholder{
    color: var(--black);
    opacity: 30%;
}

#message{
    width: 100%;
    margin-bottom: 1vh;
    min-height: 5vh;
    color: var(--black);
    padding-inline: 0.5rem;

    border-radius: 0.5rem;
}
#message::placeholder{
    color: var(--black);
    opacity: 30%;
}

#submit-form-button{
    border-radius: 0.5rem;

    color: var(--black);
    background-color: #DAA520;

    width: 100%;
    min-height: 5vh;

    transition: 0.2s;
}

#submit-form-button:hover{
    background-color: var(--red);
    color: var(--white);
    cursor: pointer;
}

#messages{
    border: 1px solid var(--gold);
    border-radius: .5rem;
    padding : 1rem;

    height: 50vh;
    overflow: scroll;
    width: 45vw;
    
    background-color: rgba(0, 0, 0, 0.637);
}

#messages .username {
    color: var(--gold);
    font-size: 1rem;
}

#messages .usermassage {
    font-size: 1rem;
    margin-bottom: 1rem;
}



/* Hide scrollbar for Chrome, Safari and Opera */
.messages::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.messages {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

footer{
    background-color: var(--gold);
    width: 100%;
    min-height: 15vh;

    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
}

footer * {
    color:var(--black);
    text-align: center;
}

@media (max-width: 800px){
    #messages{
        margin-top: 5vh;
        width: 80vw;
    }
    a{
        text-align: center;
        width: 70vw;
        height: 10vw;
        line-height: 7vw;
        vertical-align: middle;
    }

    h1{
        font-size: 3rem;
    }

    #header {
        justify-content: space-evenly;
    }
    .location iframe{
        width: 100%;
    }

    .page-text{
        max-width: 90%;
    }

    .page{
        flex-direction: column;
        width: 100vw;
    }

    .page .button-container{
        flex-direction: column;
    }
}
